<form method="post" action="/recipes/<%= @recipe.id %>">
  Edit Recipe Name: <input type ="text" name="name" value="<%= @recipe.name %>"><br>
  Edit Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"><br>
  Edit Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"><br>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="submit">
</form>
