<h1>Tell us about your new recipe!</h1>
<form method="post" action="/recipes">
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cooktime: <input type="text" name="cook_time"></p>
  <input value="submit" type="submit">
</form>
