<!DOCTYPE html>
<html>
<head>
	<title>Create New Recipe</title>
</head>
<body>
	<h1>Create a Recipe</h1>
	<form method="post" action="/recipes">
		Name: <input type="text" name="name">  </br> 
		Ingredients: <input type="text" name="ingredients"> </br>
		Time: <input type="number" name="cook_time">

		<input type="submit" value="submit">
	</form>
</body>
</html>